body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    line-height: 23px;
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
    font-size: 2.3em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
}

    h1:first-letter {
        font-size: 1.5em;
    }

h3 {
    font-size: 17px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

blockquote {
    font-size: 17px;
}

pre {
    font-size: 11px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

section {
    text-align: center;
    padding: 70px 0;
}

.section-blue {
    background: #234ffe;
    color: #FFF;
}

.section-orange {
    background: #ff6a00;
    color: #FFF;
}

.section-red {
    background: #ff2424;
    color: #FFF;
}

.section-gray {
    background: #f8f8f8;
}

hr {
    width: 75%;
    border: none;
    height: 1px;
    background-color: #f1f1f1;
}

.sign-up {
    max-width: 380px;
    margin: 0 auto;
}

.lead {
    font-size: 16px;
    color: gray;
}

.container {
    max-width: 600px !important;
}

.heading-underline{
    border-bottom: 3px solid;
}

.heading-underline-white{
    border-bottom: 3px solid white;
}

.platform-icon {
    margin-top: 20px;
}

.fa-gamepad {
    transform: rotate(-45deg);
}

 .fa-calendar {
     margin-right: 5px;
    transform: rotate(-30deg);
 }